@import url(../CSS/common.css);

* {
  box-sizing: border-box;
}

body {
  /* border: 2px solid yellow; */
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
  /* display: block; */
}

.intro {
  position: relative;
  display: flex;
  flex-flow: colume;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.intro__title {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 90px;
}

.intro__button {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%, 8%);
  width: 80px;
  height: 80px;
  background: url(img/down-arrow.png) center/cover;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  width: 100vw;
  height: 100vh;
  letter-spacing: -0.04em;
  background-color: #fff;
}

.game__wrapper {
  /* border: 0.05px solid gray; */
  height: 380px;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.5s;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: bottom 250ms ease-in, box-shadow 250ms ease-in;
  cursor: pointer;
}

.game__wrapper:hover {
  /* border: 0.05px solid gray; */
  transform: scale(1.04);
  transition: 1s;
}

.game__wrapper .head__img {
  border-radius: 40%;
}

.game__wrapper .game__title {
  /* background-color: yellow; */
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

/* .game__image {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  block-size: cover;
  transition: bakgrount-image 250ms;
} */
