.contactContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #732f20;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 200px;
  width: 1200px;
  margin: 0 auto;
  .qrCodes {
    div p {
      padding-bottom: 1em;
      // padding-left: 16px;
      font-weight: 700;
      color: #732f20;
      text-transform: uppercase;
    }
    .qrCodeContainer {
      display: flex;
      gap: 2rem;
      img {
        border: 2px solid #732f20;
      }
    }
  }
  .headerInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #732f20;

    p {
      // width: 25%;
      // padding-right: 200px;
      // padding-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: left; // 텍스트 자체도 중앙 정렬
      line-height: 2;
      font-weight: 600;
      // &:first-child {
      //   padding-left: 0;
      //   cursor: pointer;
      //   width: 288px;
      //   justify-content: start;
      //   align-items: start;
      //   text-align: left; // 텍스트 자체도 중앙 정렬
      // }
    }
  }
}


.footer {
  display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  // padding: 0 200px;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;

  .footerInfo {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .location {
    // margin-right: 2rem;
    font-weight: 700;
    // padding-left: 4rem;
    width: 50%;
    .locationTitle {
      color: #732f20;
    }
    p {
      // text-align: right;
      &:first-child {
        margin-bottom: 1em;
        text-transform: uppercase;
      }
      &:last-child {
        height: 100px;
        font-weight: 400;
        color: #73706c;
      }

      // margin-bottom: 1vh;
    }
  }

  .backToTop {
    text-align: left;
    // padding-right: 200px;
    // margin-bottom: 60px;
    font-weight: 700;
    padding-left: 2rem;

    .madeBy {
      color: #732f20;
    }
    p {
      color: #73706c;
      &:first-child {
        margin-bottom: 1em;
        text-transform: uppercase;
      }
      &:last-child {
        height: 128px;
        font-weight: 400;
      }
    }
  }
}
