.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 5%;

  .hellopage2 {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hellopage {
      position: relative;
      z-index: 3;
      width: 60%;

      font-weight: 900;
      color: #fff;

      .fullstack {
        font-family: "Playfair Display", serif;
        font-size: 10rem;
        font-style: italic;
        margin-bottom: -80px;
        white-space: nowrap;
      }

      .devloper {
        font-family: "Playfair Display", serif;
        font-size: 10rem;
        font-style: italic;
        margin-left: 20%;
        white-space: nowrap;
      }
      .intro {
        font-size: 1.5rem;
        margin-top: 20px;
        font-weight: 100;
        text-align: end;
        margin-right: 10%;
        margin-bottom: 10%;
      }
    }

    .year {
      position: absolute;
      left: 0%;
      bottom: 43%;
      font-size: 9rem;
      font-weight: bold;
      color: #545050;
      opacity: 0.8;
      z-index: 2;
      font-style: italic;
    }

    .image {
      position: relative;
      z-index: 1;
      width: 500px;
      height: 500px;
      overflow: hidden;

      .photo {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: grayscale(100%) brightness(80%); // 흑백 효과와 밝기 조절
        opacity: 1; // 투명도 조절 (0.0 ~ 1.0)
        transition: all 0.1s ease; // 이미지 전환 효과
      }
    }
  }
}
