.box {
  display: flex;
}
.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  width: 500px;
  color: #732f20;
  border-right: solid 1px #0d0d0d;
  background-color: #0d0d0d;
  border-radius: 24px;
}
.wrap {
  // transform: translateY(50px) rotate(-5deg);
  border-top: solid 2px #0d0d0d;
  border-bottom: solid 2px #0d0d0d;
  color: #0d0d0d;
}
.iccons {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  flex-shrink: 0;
  fill: #0d0d0d;
}
.wrap2 {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.link {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;
}

.textBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 8rem;
  .icons {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    fill: #0d0d0d;
  }

  .text2 {
    margin-right: 20px;
    font-size: 6rem;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    // -webkit-text-stroke-width: 3px;
    // -webkit-text-stroke-color: #0d0d0d;color: transparent;
  }
  .text {
    margin-right: 20px;
    font-size: 6rem;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #0d0d0d;
  }
  .text3 {
    margin-right: 20px;
    font-size: 6rem;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    color: #f2f2f2;
    // -webkit-text-stroke-width: 3px;
    // -webkit-text-stroke-color: #0d0d0d;
  }
  .text4 {
    margin-right: 20px;
    font-size: 6rem;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #f2f2f2;
  }
}
