.projectDetailContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.projectContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .projectBox {
    width: 1400px;
    margin: 0 auto;
    background: url(../../assets/images/myAss.png) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%; /* 필요에 따라 조정 가능 */
    color: #000;
    position: relative;

    /* 반투명 배경 추가 */
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.5); /* 흰색 반투명 배경 */
      z-index: 1; /* 배경이 텍스트 아래에 오도록 설정 */
    }

    /* 텍스트가 반투명 배경 위에 보이도록 z-index 설정 */
    .textOverlayBox {
      display: flex; /* 추가: flexbox 사용 */
      flex-direction: column; /* 세로 방향으로 배치 */
      justify-content: space-between; /* 위아래로 공간을 분배 */
      height: 100%; /* 부모 요소의 높이에 맞추기 */
      z-index: 2; /* 텍스트가 배경 위에 오도록 설정 */
      width: 100%; /* 너비를 100%로 설정하여 공간을 차지하도록 함 */
      font-weight: 900;
      font-size: 7rem;

      &.darkText {
        color: #333; /* 어두운 텍스트 색상 */
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* 밝은 그림자 */
        .textOverlay {
          -webkit-text-stroke-color: #333;
        }
      }

      &.lightText {
        color: #f2f2f2; /* 밝은 텍스트 색상 */
        .textOverlay {
          -webkit-text-stroke-color: #f2f2f2;
        }
      }

      .textOverlay {
        color: transparent;
        letter-spacing: 5px;
        text-align: center;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #f2f2f2;
      }

      .textOverlayTwo {
        color: transparent;
        text-align: center;
        letter-spacing: 5px;
        color: #f2f2f2;
        &.dark {
          color: #0d0d0d;
        }
      }
    }
  }
}
