.overviewContainer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  color: #73706c;
  overflow: hidden;
  padding: 10rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  color: #f0f0f0;
  font-weight: 400;
  letter-spacing: 2px;
}

.border {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 7rem;
}

.infoSection {
  width: 100%;
}

.skillGroup {
  display: flex;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  border-bottom: 1px solid #f0f0f0;
  &:last-child {
    margin-bottom: 0;
  }
}

.skillMeta {
  flex: 0 0 200px;
  margin-right: 2rem;
}

.category {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  font-weight: 500;
}

.skillContent {
  flex: 1;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    flex-wrap: wrap;
  }
}

.skillItem {
  font-size: 1.6rem;
  color: #bebebe;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
