@charset "UTF-8";

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  /* scroll-behavior: smooth; */
  cursor: none;
}
main {
  position: relative;
  /* padding: 0 250px !important; */
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #0d0d0d, #1a1a1a); */
  transition: background 0.5s ease-in-out;

  /* rgb(255 199 0) */
}

/* 노란색 배경 레이어 추가 */

.nogal {
  font-family: "Nogal", sans-serif;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 30px;
}

h1.title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 1200px) {
  body {
    max-width: 100%;
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 15px;
  }

  h1.title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }

  h1.title {
    font-size: 1.75rem;
  }
}
*::-webkit-scrollbar {
  display: none;
}
